body {
    background-color: #222;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 50px;
    height: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

main {
    padding: 50px 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h1,
section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section p {
    line-height: 1.5;
}


.banner {
    text-align: center;
}

.banner h1 {
    font-size: 48px;
}


.descripcion ul {
    list-style: none;
    padding: 0;
}

.descripcion li {
    margin-bottom: 15px;
}


.contacto form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto label {
    margin-bottom: 5px;
    display: block;
}

.tools-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.tool {
    width: 23%;
    text-align: center;
}

.tool img {
    max-width: 100%;
    height: auto;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contacto textarea {
    resize: vertical;
}

.contacto button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}



