/* Estilo general para body */
body {
    background-color: #222; /* Color de fondo oscuro */
    color: #fff; /* Color de texto blanco */
    font-family: sans-serif; /* Tipografía sans-serif */
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 50px;
    height: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Secciones */
main {
    padding: 50px 0; /* Agregar margen entre secciones */
}

section {
    max-width: 800px; /* Ancho máximo para las secciones */
    margin: 0 auto; /* Centrar las secciones */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

section h1,
section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section p {
    line-height: 1.5;
}

/* Banner */
.banner {
    text-align: center;
}

.banner h1 {
    font-size: 48px; /* Tamaño de fuente más grande para el título */
}

/* Descripción */
.descripcion ul {
    list-style: none; /* Eliminar viñetas */
    padding: 0;
}

.descripcion li {
    margin-bottom: 15px; /* Espacio entre elementos de la lista */
}

/* Contacto */
.contacto form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacto label {
    margin-bottom: 5px;
    display: block;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contacto textarea {
    resize: vertical; /* Permitir que el textarea se re dimensione */
}

.contacto button {
    background-color: #007bff; /* Color de botón azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}



